<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crewstation.mapper.ai.KeywordMapper">
    <insert id="insertKeyword">
        insert into tbl_ai_keyword(member_id, search_word)
        values(#{memberId} ,#{searchWord})
    </insert>

    <insert id="insertLog">
        insert into tbl_ai_log(member_id, post_id)
        values (#{memberId}, #{postId})
    </insert>

    <select id="selectKeyword">
        select
            p.post_title as postTitle,
            ps.post_content as postContent,
            tal.member_id as memberId,
            tak.search_word as searchWord

        from tbl_ai_log tal
                join tbl_post p
                           on tal.post_id = p.id
                join tbl_post_section ps
                           on p.id = ps.post_id
                join tbl_ai_keyword tak
                           on tak.member_id = tal.member_id and p.created_datetime = now()
        where tal.member_id = #{memberId}
        order by tal.created_datetime desc
        limit 5

    </select>
</mapper>